:root {
    --color-admin: #15936b;
    --color-nhanvien: #2a95bf;
    --color-user: #e7d13f;
    --color-ns: #e73f6c;
    --backgroundmain: #111111;
    --backgroundmain_right: rgba(17, 17, 17, 0.3);
    --text_music_gradient-1: linear-gradient(
        94deg,
        #1756b5 -13.04%,
        #7209b7 124.22%
    );
    --text_music_gradient-2: linear-gradient(
        94deg,
        #b5179e -13.04%,
        #7209b7 124.22%
    );
    --text_music_gradient-3: linear-gradient(
        94deg,
        rgba(23, 86, 181, 0.61) -13.04%,
        rgba(183, 9, 82, 0.74) 124.22%
    );

    --text-color-light: #fff;
    --text-color-B: #b8b8b8;
    --color-tim: #b5179e;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    max-width: 1920px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    min-height: 100vh;
}

ul,
li {
    list-style: none;
}
.tableUser {
    display: grid;
    grid-gap: 20px 80px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    /* 
    grid-template-rows: auto auto; */
}
.the {
    width: 270px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.imageUser {
    width: 85px;
    height: 75px;
    border-radius: 26px;
    border: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chucnangUser {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 0;
    right: -70px;
}
.chucnangUser .menu {
    position: absolute;
    top: 20px;
    right: -57px;
}
.chucnangUser .dotuser {
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chucnangUser .dotuser:hover {
    color: #fff;
    background-color: #a5a5a5;
}
.chucnangUser ul {
    display: none;
    margin-top: 10px;
}
.chucnangUser ul li {
    cursor: pointer;
    background-color: #fff;
    width: 109px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.04);

    padding: 8px;
    border-radius: 2px;
}
.chucnangUser ul li i {
    padding-right: 10px;
}
.chucnangUser ul li:hover {
    background-color: #f4f0f0;
}

.imageUser img {
    width: 50px;
    height: 50px;

    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.user_type {
    position: absolute;
    bottom: 0;
    padding: 2px;
    color: #fff;
    border-radius: 8px;
    right: -36px;
}
.infoUser {
    margin-top: 10px;
}
.name {
    text-align: center;
    color: #202020;
    font-size: 18px;

    font-weight: 700;
    word-wrap: break-word;
}
.email {
    text-align: center;
    color: #a5a5a5;
}
.mandates {
}
.trangthai,
.vipUser {
    color: #202020;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    word-wrap: break-word;
}
.vipUser {
    /* color: #8b1717; */
}
/* start infouser search */

.menufilter {
    display: none;
}
.searchbar {
    font-size: 14px;

    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    min-width: 500px;
}
.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}
.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #c5c5c5;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.search-icon-wrapper {
    margin: auto;
    color: #2fb04b;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
}
.searchButton {
    cursor: pointer;
}
.delete-icon-wrapper {
    cursor: pointer;
    display: none;
    margin: auto;
    color: #202124;
    font-size: 18px;
    padding-right: 10px;
    font-weight: 800;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}
.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 4px 0 10px;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}
/* .searchbar-input:focus ~ .delete-icon-wrapper, */
.infofilter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    position: relative;
}
.infofilter .optionFilter {
    position: absolute;

    bottom: -124px;
    z-index: 99;
    display: none;
}
.infofilter .optionFilter ul {
    margin: 10px 0;
    width: 155px;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
}
.infofilter .optionFilter ul a {
    list-style-type: none;
    text-decoration: none;
    padding: 4px 10px;
    cursor: pointer;
    background-color: #ffffff;

    /* width: 109px; */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.04);
    /* padding: 2px 8px; */
    border-radius: 8px;
}

.infofilter .optionFilter ul a:hover {
    background-color: #f1f0f0;
}
/* end infouser search */
.textloginGoogle {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}
.textloginGoogleius {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}

.khungthu {
    display: none;
}
.Componentfilter {
    width: 155px;
    height: 32px;
    border-radius: 36px;
    /* overflow: hidden; */
    border: 1px rgba(141, 140, 140, 0.5) solid;
    justify-content: space-evenly;
    align-items: center;
    display: inline-flex;
}
.Componentfilter:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}
.LayerFilter {
    /* width: 155px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.ContenFilter {
    text-align: center;
    padding-right: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
}
.IconFilter {
    color: #9a9797;
    width: 18px;
    height: 18px;
}
/* xem album */
.infoxemalbum {
    display: flex;
    gap: 30px;
    align-items: center;
}
.imgxemalbum {
    /* width: 200px;
    height: 200px; */
}
.imgxemalbum img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.infotext {
    display: flex;
    flex-direction: column;
}
.namexemalbum {
    font-size: 24px;
    font-weight: 600;
}
.emailnsxemalbum {
    color: #a5a5a5;
}
/* --------------------------- */
.tennhac {
    /* width: 200px; */
    /* white-space: nowrap;  */
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
}
.goiyalbum {
    display: flex;
}
.textalbum {
    font-size: 20px;
    font-weight: 600;
}
.albumgoiy {
    width: 100%;
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.albumgoiy a {
    padding: 2px 4px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #2a95bf;
    min-width: 60px;
    margin-left: 6px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.albumgoiy a:hover {
    padding: 2px 4px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #a5a5a5;
    min-width: 60px;
    margin-left: 6px;
    color: #2a95bf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconsucess {
    cursor: pointer;
    display: block;
}
.iconsucess:hover i {
    color: #eaff00;
}
.card_success {
    display: block;
}
.chat-content {
    background-color: #eeeeee;
    box-shadow: 1px 2px 2px 2px #f7f5f5;
    width: 100%;
    height: 400px;
}
.chat-content .messages {
    height: 86%;
    /* display: flex;
    flex-direction: column; */
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat-content .messages::-webkit-scrollbar {
    display: none;
}
.chat-content #formchat {
    display: flex;
    width: 100%;
    bottom: 0px;

    position: relative;
    justify-content: end;
    align-items: center;
}

.chat-content #formchat button {
    width: 80px;
    height: 44px;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 50px 0 0;
    gap: 8px;
}
.chat-content #formchat button:hover {
    background-color: #3c92d3;
    color: #fff;
    border: none;
    outline: none;
}
.chat-content #formchat textarea {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 20px;
    resize: none;
    left: 10px;
    width: 80%;
    height: 48px;
    border: none;
    outline: none;
    padding: 10px 20px 0 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chat-content #formchat textarea:focus {
    border: none;
    outline: none;
}
.messages {
    padding: 10px 10px 0 10px;
}
.left {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}
.right {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
}
.left .img img {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.left .topmessage {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: start;
}
.left .namemessage {
    font-size: 16px;
    font-weight: 500;
}
.left .timeup {
    color: #a5a5a5;
    font-size: 12px;
}
.left .middlemessage {
    padding: 10px;
    color: #000000;
    border-radius: 10px;

    height: auto;
    background-color: #c0e8f9;
}
p {
    margin: 0 !important;
    padding: 0;
}
.left .middlemessage .noidung {
    max-width: 300px;
    word-wrap: break-word;
    height: auto;
}

.left .bottomessage {
    display: flex;
    gap: 15px;
    margin-top: 6px;
    align-items: center;
}
.left .nhac {
    width: auto;
    padding: 6px;
    color: #000000;
    border-radius: 10px;
    height: auto;
    background-color: #c0e8f9;

    max-width: 300px;
    word-wrap: break-word;
    height: auto;
}
.left .bottomessage i {
    border-radius: 50%;
    color: transparent;
    background: var(--text_music_gradient-1);
    background-clip: text;
}
.left .listdot {
    top: 10px;
    position: relative;
    cursor: pointer;
}
.menudot {
}
.left .item-list-dot {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 0;
    right: -60px;
    border-radius: 6px;
}
.left .item-list-dot a {
    color: #ff0000;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 6px;
    padding: 6px;
}
/* right chat ----------------------------------------------------------------------------*/
.right .img img {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.right .topmessage {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;
}
.right .namemessage {
    font-size: 16px;
    font-weight: 500;
}
.right .timeup {
    color: #a5a5a5;
    font-size: 12px;
}
.right .middlemessage {
    padding: 10px;
    color: #000000;
    border-radius: 10px;
    height: auto;
    background-color: #c0e8f9;
}
.right .middlemessage .noidung {
    max-width: 300px;
    word-wrap: break-word;
    height: auto;
}

.right .bottomessage {
    display: flex;
    gap: 15px;
    margin-top: 6px;
    align-items: center;
}
.right .nhac {
    width: auto;
    padding: 6px;
    color: #000000;
    border-radius: 10px;
    height: auto;
    background-color: #c0e8f9;

    max-width: 300px;
    word-wrap: break-word;
    height: auto;
}
.right .bottomessage i {
    border-radius: 50%;
    color: transparent;
    background: var(--text_music_gradient-1);
    background-clip: text;
}
.right .listdot {
    top: 10px;
    position: relative;
    cursor: pointer;
}
.menudot {
}
.right .item-list-dot {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 0;
    right: 14px;
    border-radius: 6px;
}
.right .item-list-dot a {
    color: #ff0000;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 6px;
    padding: 6px;
}

/* -------------------------------------------------------------------------------------- */
