* {
    margin: 0;
    padding: 0;
    font-family: "inter";
}
body {
    height: 100vh;

    background-color: #131312;
    /* font-family: "roboto"; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
ul,
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    position: relative;
    /* width: 85%;
    height: 95%; */
    height: 100%;
    max-width: 1920px;
    width: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
header .menu_side,
.song_side {
    position: relative;
    width: 20%;
    height: 91%;
    /* border: 1px solid #fff; */
    background-color: rgba(255, 255, 255, 0.943);
    box-shadow: 25px 0 10px 20px #7185c5;
    /* color: #fff; */
}
header .song_side {
    width: 80%;
    background-color: #ffffff;
}

header .master_play {
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background: linear-gradient(94deg, #5483c9 -13.04%, #d05561 124.22%);
    box-shadow: 0 3px 8px #090f1f;
}

header .menu_side .home_rec {
    padding: 20px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
header .menu_side .home_rec img {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
header .menu_side .home_rec p {
    font-size: 26px;
    font-weight: 600;
}

header .menu_side .playlist {
    /* padding:  0 20px; */
    height: 215px;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 1px solid #131312;
    border-top: 1px solid #131312;
}
header .menu_side .playlist::-webkit-scrollbar {
    display: none;
}
header .menu_side .playlist div {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    gap: 10px;
    /* size: 24px; */
    font-size: 18px;
    color: #191e65;
}
header .menu_side .playlist div:hover {
    background-color: #7185c5;
}
header .menu_side .playlist div.active span {
    position: absolute;
    width: 5px;
    height: 50px;
    right: 0;
    background-color: aqua;
    border-radius: 20px 6px 6px 20px;
}
header .menu_side .playlist div.active {
    color: #fff;
    background-color: rgba(39, 92, 237, 0.779);
}
header .menu_side .playlist div .imgchat {
    /* position: absolute; */
    display: flex;
    margin: 0;
    padding: 0;
    /* height: 28px;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%); */
}
header .menu_side .playlist div .imgchat img {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #d3d4d5;
}
header .menu_side .playlist div .imgchat img:nth-child(2) {
    z-index: 2;
    margin-left: -20px;
}
header .menu_side .playlist div .imgchat img:nth-child(3) {
    z-index: 3;
    margin-left: -20px;
}
/* header .menu_side .playlist h4 a .nthimg2 {
    left: 140px;
}
header .menu_side .playlist h4 a .nthimg3 {
    left: 152px;
} */
header .master_play {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
header .master_play .wave,
.active2 {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    /* margin-right: 10px; */
}
header .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0 0;
    background-color: #36e2ec;
    /* animation: wave 1.5s linear infinite; */
    animation: unset;
}
header .master_play .wave .wave1:nth-child(2) {
    height: 13px;
    /* animation-delay: 1.4s; */
}
header .master_play .wave .wave1:nth-child(3) {
    height: 8px;
    /* animation-delay: 1.8s; */
}
header .master_play .active2 .wave1 {
    animation: wave 1.5s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2) {
    animation-delay: 1.4s;
}
header .master_play .active2 .wave1:nth-child(3) {
    animation-delay: 1.8s;
}
@keyframes wave {
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}
header .master_play img {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
}
header .master_play .info_ns {
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
}
header .master_play h5 {
    width: 130px;
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
    line-height: 15px;
    height: 30px;
    white-space: normal; /* Cho phép xuống dòng */
    overflow: hidden; /* Ẩn nội dung dư thừa */
    text-overflow: ellipsis; /* Hiển thị dấu chấm khi văn bản bị cắt ngắn */
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Số dòng tối đa */
}
header .master_play .subtitle {
    font-size: 11px;
    margin-left: 15px;
    color: #c7c7c7;
    /* line-height: 15px; */
}
header .master_play .icon {
    font-size: 20px;
    /* margin-left: 15px; */
    color: #fff;
    /* line-height: 15px; */
    margin: 0 20px 0 40px;
}
header .master_play .icon .bi {
    cursor: pointer;
    outline: none;
}
header .master_play .icon .bi:nth-child(2) {
    border: 1px solid rgb(105, 105, 170, 0.1);
    border-radius: 50%;
    padding: 1px 3px 0 6px;
    margin: 0 5px;
    transition: 0.3s linear;
}
header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
}
header .master_play span #currentStart {
    margin: 0 0 0 20px;
}
header .master_play .bar {
    position: relative;
    width: 35%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.511);
    margin: 0 15px 0 10px;
}
header .master_play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
header .master_play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -1px;
    transition: 1s linear;
}
header .master_play .bar .dot::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0 0 3px #36e2ec;
    transition: 1s linear;
}
header .master_play .bar input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;

    z-index: 99;
    transition: 3s linear;
    opacity: 0;
}
.thongbao {
    position: absolute;
    display: none;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: #1cd912;
    /* width: 300px; */
    padding: 10px;
    border-radius: 4px;
}
.headerthongbao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerthongbao i {
    cursor: pointer;
    color: #000;
}
.headerthongbao i:hover {
    color: #fff;
}
.tieude {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding-right: 20px;
}
/* input search */
.searchbar {
    font-size: 14px;

    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: linear-gradient(94deg, #a5bbdaa0 -13.04%, #a7aad595 124.22%);
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* margin: 0 auto; */
    width: 500px;
    min-width: 500px;
}
.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}
.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #c5c5c5;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.search-icon-wrapper {
    margin: auto;
    color: #000000;
    font-size: 18px;
    padding-left: 10px;
    cursor: pointer;
}
.searchButton {
    cursor: pointer;
}
.delete-icon-wrapper {
    cursor: pointer;
    display: none;
    margin: auto;
    color: #202124;
    font-size: 18px;
    padding-right: 10px;
    font-weight: 800;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}
.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 4px 0 10px;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}
/* --------------------------- */
.song_side nav {
    height: 45px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 20px;
}
.song_side nav .infouser {
    position: absolute;

    right: 0;
}
.song_side nav .infouser .end {
    display: flex;
}
.song_side nav .infouser .end .matshead img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.song_side nav .infouser .end .toggle_infouser {
    position: absolute;
    top: 0;
    left: -260px;
    background-color: #36e2ec;
    border-radius: 10px;
    width: 250px;
}
.song_side nav .infouser .end .toggle_infouser img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.song_side nav .infouser .end .toggle_infouser .infouser-header {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #b0b2b7;
}
.song_side
    nav
    .infouser
    .end
    .toggle_infouser
    .infouser-header
    .nametext
    .name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}
.song_side nav .infouser .end .toggle_infouser .infouser-header .nametext .bd {
    color: #f1f1f1;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}
